.project__overlay {
    opacity: 0;
    background-color: #ffbd76;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #10191e;
    text-transform: lowercase;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    transition: opacity 300ms ease-out;
    border-radius: 10px;
}
.project__overlay:hover {
    opacity: 0.9;
}
@media all and (max-width: 768px) {
    .project__overlay:hover {
        font-size: 22px;
    }
}
