.project_height_s {
    height: 240px;
}
@media all and (max-width: 1120px) {
    .project_height_s {
        height: 250px;
    }
}
@media all and (max-width: 720px) {
    .project_height_s {
        height: 200px;
    }
}
