.js-projects {
    display: grid;
    grid-template-areas:
        'procrastinate procrastinate form todo'
        'procrastinate procrastinate like like'
        'counter transib transib transib';
    grid-gap: 16px;
}
