.js-projects {
    display: grid;
    grid-template-areas:
        'procratinate procratinate form todo'
        'procratinate procratinate like like'
        'counter transib transib transib';
    grid-gap: 16px;
}
