.header__img {
    width: 200px;
    height: 200px;
    background-image: url('../../../images/diana2.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    grid-area: img;
    margin-right: auto;
}
