.header__text {
    font-size: 22px;
    max-width: 350px;
    grid-area: text;
    margin-left: auto;
    text-align: right;
    line-height: 1.2;
}
@media all and (max-width: 768px) {
    .header__text {
        font-size: 18px;
        max-width: 300px;
    }
}
@media all and (max-width: 500px) {
    .header__text {
        font-size: 16px;
    }
}
@media all and (max-width: 380px) {
    .header__text {
        font-size: 14px;
    }
}
