.project_width_l {
    width: calc(50% - 8px);
    margin-right: 16px;
}
.project_width_l:last-of-type {
    margin-right: 0;
}
@media all and (max-width: 760px) {
    .project_width_l {
        width: 100%;
        margin: 0 0 16px;
    }
}
