.social__icon {
    height: 90px;
    font-size: 60px;
    transition: transform 500ms ease-out;
    color: #ffbd76;
}

@media all and (max-width: 768px) {
    .social__icon {
        height: 70px;
        font-size: 50px;
    }
}

@media all and (max-width: 450px) {
    .social__icon {
        height: 60px;
        font-size: 40px;
    }
}
