.stack__text {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
@media all and (max-width: 768px) {
    .stack__text {
        font-size: 12px;
    }
}
