.stack__icon {
    height: 70px;
    font-size: 50px;
    transition: color 300ms ease-out;
}

.stack__icon_small {
    max-height: 50px;
    margin: 7px 0;
}

@media all and (max-width: 1024px) {
    .stack__icon {
        height: 50px;
        font-size: 40px;
    }
}
