.menu__link {
    font-size: 20px;
    text-decoration: none;
    color: #10191e;
    margin-right: 40px;
    margin-bottom: 13px;
    border-bottom: 3px solid transparent;
    transition: 700ms ease-out;
    padding-bottom: 4px;
}
.menu__link:hover {
    border-bottom: 3px solid #006ee6;
}

.menu__link:last-of-type {
    margin-right: 0;
}
@media all and (max-width: 838px) {
    .menu__link {
        margin-right: 20px;
        font-size: 17px;
    }
}
@media all and (max-width: 500px) {
    .menu__link {
        font-size: 15px;
    }
}
