.menu__link {
    font-size: 20px;
    text-decoration: none;
    color: #10191e;
    margin-right: 40px;
}
.menu__link_active {
    text-decoration: underline;
}
.menu__link:last-of-type {
    margin-right: 0;
}
