.social__element {
    list-style: none;
    text-align: center;
    margin-right: 50px;
}
.social__element:last-of-type {
    margin-right: 0;
}
@media all and (max-width: 880px) {
    .social__element {
        margin-right: 25px;
    }
}
