.stack__element {
    list-style: none;
    text-align: center;
    padding: 15px 0 20px;
    color: #007aff;
}

.stack__element:hover .stack__icon {
    opacity: 0.6;
}

@media all and (max-width: 1024px) {
    .stack__element {
        padding: 5px 0 10px;
    }
}
