.header {
    height: 300px;
    display: grid;
    grid-template-areas:
        'title title'
        'img  text';
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 50px;
}
@media all and (max-width: 500px) {
    .header {
        grid-gap: 15px;
    }
}
